.VPHero .main {
  max-width: 960px;
}

.VPHero .main .text,
.VPHero .main .tagline {
  max-width: none;
}

.VPHero .main .heading .name {
  display: block;
  margin-bottom: 24px;
}

.VPNavBarTitle .logo {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  margin-right: 10px;
}
